doctype html
html(lang="en")
    head
        title=name
        link(rel="stylesheet" href="extension.css")
        script(src='extension.js')
        script(src='popup.js')
    body(ng-app=name)
        ion-nav-bar.bar-positive.has-tabs-top
            ion-nav-buttons(side='left')
                button.button.button-icon.icon.animadness-logo(ui-sref="popup")
        ion-nav-view
